.details {
	.no-padding-left {
		padding-left: 0px;
	}

	.no-padding-right {
		padding-right: 0px;
	}
	.no-margin-left {
		margin-left: 0px;
	}

	.no-margin-right {
		margin-right: 0px;
	}

	.month_name_blue {
		text-align: center;
		background: #ff0000;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		color: #ffffff;
	}

	.day_name {
		text-align: center;
	}

	.day_number {
		text-align: center;
		font-size: 34px;
	}

	.event_title {
		padding-left: 10px;
		padding-top: 0px;
		margin-top: 0px;
	}
	.event_classroom:before {
		font-family: "Ionicons";
		content: "\f256";
		margin: 0 15px 0 5px;
	}
	.event_classroom { 
		background: #ffffff !important;
		color: #333;
		margin-top: 5px;
		width: auto;
		max-width: 150px;
		padding: 5px;
		border: solid 2px #ccc;

	}	

	.event_classroom.EVERYONE {
		background: #ffffff !important;
		color: #333;
		border: solid 2px #cccccc;
	}
	scroll-content { padding-right: 0px; margin-right: -8px; padding-left: 0px; margin-left: 10px }
	.date_column { 

		-webkit-box-flex: 0;
	    -webkit-flex: 0 0 30%;
	    -ms-flex: 0 0 30%;
	    flex: 0 0 30%;
	    max-width: 113px;

	}

	.rounded-border {
		box-shadow: 1px 1px 1px #CCCCCC;
		border-radius: 5px;
	}

	dt { color: #BBB; font-size: 21px; }

	.event_title_title {
		font-size: 34px;
		white-space: initial;
	}

}
