<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>Event Details</ion-title>
</ion-navbar>

<ion-content padding class="details" (ngModel)="eventDetails">

        <div class="list card " id="details-card22">
            <ion-item class="item-avatar  " id="details-list-item9">
    <ion-col class="no-padding-left date_column rounded-border">
      <div class="month_name_blue">{{month_name}}</div>
      <div class="day_number">{{day_number}}</div>
      <div class="day_name">{{day_name}}</div>
    </ion-col> 
    <br>

      <div class="event_title_title">
        {{title}}
      </div>
      <div class="event_title_time">

<div *ngIf="days_hours_and_minutes[0]>1">
{{ stringAsDate(start_date) | date }} 
<span *ngIf="end_date!==''"> to {{ stringAsDate(end_date) | date }} </span>
</div>
<div *ngIf="days_hours_and_minutes[0]==0">
{{ start_time }} - {{ end_time }}
</div>

      </div><br/>
                <p>{{ description }}</p>

            </ion-item>
 

            <ion-item class="item-icon-left positive  " id="details-list-item10">
            This event is for 
<div *ngFor="let cn of classroom" class="event_classroom">{{cn}}</div>
            </ion-item>
        </div>

</ion-content>
