// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";
@import "../pages/tutorial/tutorial";
@import "../pages/login/login";
@import "../pages/signup/signup";
@import "../pages/details/details";

.toolbar-background { background: #000066; color: #fff }
.bar-button-default { color: #fff }

.username { text-transform: lowercase }
.logo-container { text-align: center; }
.logo-image { max-width: 150px; margin: 0 auto; }
.inline-icon { margin-top: 5px; }
.top-border-rounded { border-top-left-radius: 15px; border-top-right-radius: 15px; }
.bottom-border-rounded { border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
.button-outline { color: #ffffff !important; border-color: #ffffff !important }

.no-padding-bottom {
	padding-bottom: 0px;
}
.no-padding-top {
	padding-top: 0px;
}
	.no-padding-left {
		padding-left: 0px;
	}

	.no-padding-right {
		padding-right: 0px;
	}
	.no-margin-left {
		margin-left: 0px;
	}

	.no-margin-right {
		margin-right: 0px;
	}

.text-center {
	text-align: center;
}

.signup-links {
	margin-top:20px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.slide-description { 
	padding-left: 40px;
	padding-right: 40px;
}