.page1 {
	

	.no-padding-left {
		padding-left: 0px;
	}

	.no-padding-right {
		padding-right: 0px;
	}
	.no-margin-left {
		margin-left: 0px;
	}

	.no-margin-right {
		margin-right: 0px;
	}

	.month_name {
		text-align: center;
		background: #ff0000;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		color: #ffffff;
	}

	.day_name {
		text-align: center;
	}

	.day_number {
		text-align: center;
		font-size: 34px;
	}


	.event_classroom {
		font-size: 11px;
		background: #CCCCCC;
		padding: 5px;
		border-radius: 5px;
		margin: 0px 0px 0px 2px;
		width: 0px;
		display: inline;
		text-align: center;
		clear: both;
		text-transform: uppercase;
		
	}
	scroll-content { padding-right: 0px; margin-right: -12px; padding-left: 0px; margin-left: 10px }

	.date_column { 

		-webkit-box-flex: 0;
	    -webkit-flex: 0 0 30%;
	    -ms-flex: 0 0 32%;
	    flex: 0 0 32%;
	    max-width: 110px;

	}

	.rounded-border {
		box-shadow: 1px 1px 1px #CCCCCC;
		border-radius: 5px;
	}
	.event_title {
		padding-left: 10px;
		padding-top: 0px;
		margin-top: 0px;
		position: relative;
		height: 90px;
	}
	.event_title_title {
		text-transform: uppercase;margin-top:5px;text-align: right;
		font-size: 18px;
		bottom: 0px;
		right: 0px;
		position: absolute;
		height: 25px;
	}
}
