

.page1 {

	.pull-right {
		float: right;
		
	}

	.event_classroom { 
		background: #ffffff !important;
		color: #333;
		float: right;
		width: auto;
		min-width: 100px;
		border: solid 2px #ff6666;

	}	

	.event_classroom.EVERYONE {
		background: #ffffff !important;
		color: #333;
		border: solid 2px #cccccc;
	}


	.no-padding-left {
		padding-left: 0px;
	}

	.no-padding-right {
		padding-right: 0px;
	}
	.no-margin-left {
		margin-left: 0px;
	}

	.no-margin-right {
		margin-right: 0px;
	}

	.month_name {
		text-align: center;
		background: #000066;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		color: #ffffff;
	}

	.day_name {
		text-align: center;
	}

	.day_number {
		text-align: center;
		font-size: 34px;
	}


	.event_classroom {
		font-size: 11px;
		background: #CCCCCC;
		padding: 5px;
		border-radius: 5px;
		margin: 0px 0px 0px 2px;
		width: 0px;
		display: inline;
		text-align: center;
		clear: both;
		text-transform: uppercase;
		
	}
	scroll-content { padding-right: 0px; margin-right: -12px; padding-left: 0px; margin-left: 10px }

	.date_column { 

		-webkit-box-flex: 0;
	    -webkit-flex: 0 0 32%;
	    -ms-flex: 0 0 34%;
	    flex: 0 0 34%;
	    max-width: 120px;

	}

	.rounded-border {
		box-shadow: 1px 1px 1px #CCCCCC;
		border-radius: 5px;
	}
	.event_title {
		padding-left: 10px;
		padding-top: 0px;
		margin-top: 0px;
		position: relative;
		height: 90px;
	}
	.event_title_title {
		margin-top:5px;
		font-size: 80%;
		font-weight: bold;
		text-transform: uppercase;
	}
	.event_title_time {
		font-size: 70%;
	}

}
