
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title> <img src="img/logo-white.png" style="width: 50px" /> </ion-title>
  
</ion-navbar>

<ion-content padding class="page1">



  <ion-refresher
    refreshing-text="refreshing..."
    refreshing-spinner="circles"
    pulling-icon="arrow-down"
    (refresh)="doRefresh($event)"
    pulling-text="Pull to refresh...">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-card *ngFor="let event of foundEvents" (click)="viewEventDetails(event.id,event.month_name,event.day_number,event.day_name,event.title,event.description,event.location,event.start_date,end_date,event.event_duration,event.classroom)" class="no-padding-left no-padding-right no-margin-left no-margin-right">
  
  <ion-card-content>
  <ion-row>
    
    <ion-col class="no-padding-left date_column rounded-border">
      <div class="month_name">{{event.month_name}}</div>
      <div class="day_number">{{event.day_number}}</div>
      <div class="day_name">{{event.day_name}}</div>
    </ion-col> 

    <ion-col class="no-padding-right">
    <ion-card-title class="event_title">
      <div *ngFor="let cn of event.classroom" class="event_classroom">{{cn}}</div>
      
      <div class="event_title_title">
        {{event.title}}
      </div>

      </ion-card-title>
    </ion-col>
  
  </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
